body {
   background-image: linear-gradient(rgba(62, 20, 20, 0.2), rgba(62, 20, 20, 0.2)), url(img/walldeg2.jpg);
   background-size: cover;
   background-position: center;
   height: 100vh;
}

main{
   width: 1000px;
   height: 80vh;
   margin: 50px auto;
   border-radius: 10px;
   opacity: 0.7;
}


.menu-icon{
   margin: 5px auto;
}

